#previewContainer {
    display: flex;
    gap: 1em;
    align-items: center;
}

#themePreview {
    flex: 1;
    min-width: 200px;
    max-width: 400px;
}

#skinName {
    font-size: $font-size-bigger;
}

#skinAuthor {
    font-size: $font-size-smaller;
    opacity: 0.5;

    margin-bottom: 1em;
}

#themeName {
    font-size: $font-size-big;
}

#themeAuthor {
    font-size: $font-size-smaller;
    opacity: 0.5;
}